In [ ]:
#!/usr/bin/env python
# coding: utf-8



import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import datetime
from scipy.optimize import curve_fit

In [3]:

import pandas as pd
conf = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv'
confi = pd.read_csv(conf) #read the data and stores into a dataframe

In [4]:
# first 5 rows and last 5 rows would be tail(5)
confi.head(5)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,2/28/23,3/1/23,3/2/23,3/3/23,3/4/23,3/5/23,3/6/23,3/7/23,3/8/23,3/9/23
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,209322,209340,209358,209362,209369,209390,209406,209436,209451,209451
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,334391,334408,334408,334427,334427,334427,334427,334427,334443,334457
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,271441,271448,271463,271469,271469,271477,271477,271490,271494,271496
3,NaN,Andorra,42.50630,1.521800,0,0,0,0,0,0,...,47866,47875,47875,47875,47875,47875,47875,47875,47890,47890
4,NaN,Angola,-11.20270,17.873900,0,0,0,0,0,0,...,105255,105277,105277,105277,105277,105277,105277,105277,105288,105288

In [5]:
# shape is the number of rows and columns
confi.shape

(289, 1147)

In [6]:
# Summary of missing values
confi.isnull().sum()

Province/State    198
Country/Region      0
Lat                 2
Long                2
1/22/20             0
                 ...
3/5/23              0
3/6/23              0
3/7/23              0
3/8/23              0
3/9/23              0
Length: 1147, dtype: int64

In [7]:
grouped_conf = confi.groupby(by=['Country/Region']).sum()
grouped_conf

,Province/State,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,...,2/28/23,3/1/23,3/2/23,3/3/23,3/4/23,3/5/23,3/6/23,3/7/23,3/8/23,3/9/23
Country/Region,,,,,,,,,,,,,,,,,,,,,
Afghanistan,0,33.939110,67.709953,0,0,0,0,0,0,0,...,209322,209340,209358,209362,209369,209390,209406,209436,209451,209451
Albania,0,41.153300,20.168300,0,0,0,0,0,0,0,...,334391,334408,334408,334427,334427,334427,334427,334427,334443,334457
Algeria,0,28.033900,1.659600,0,0,0,0,0,0,0,...,271441,271448,271463,271469,271469,271477,271477,271490,271494,271496
Andorra,0,42.506300,1.521800,0,0,0,0,0,0,0,...,47866,47875,47875,47875,47875,47875,47875,47875,47890,47890
Angola,0,-11.202700,17.873900,0,0,0,0,0,0,0,...,105255,105277,105277,105277,105277,105277,105277,105277,105288,105288
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
West Bank and Gaza,0,31.952200,35.233200,0,0,0,0,0,0,0,...,703228,703228,703228,703228,703228,703228,703228,703228,703228,703228
Winter Olympics 2022,0,39.904200,116.407400,0,0,0,0,0,0,0,...,535,535,535,535,535,535,535,535,535,535
Yemen,0,15.552727,48.516388,0,0,0,0,0,0,0,...,11945,11945,11945,11945,11945,11945,11945,11945,11945,11945
Zambia,0,-13.133897,27.849332,0,0,0,0,0,0,0,...,343012,343012,343079,343079,343079,343135,343135,343135,343135,343135
Zimbabwe,0,-19.015438,29.154857,0,0,0,0,0,0,0,...,263921,264127,264127,264127,264127,264127,264127,264127,264276,264276

In [8]:

grouped_conf.shape

(201, 1146)

In [9]:
# Total number of confirmed cases for the UK
country = confi['Country/Region']=='United Kingdom'
total = confi[country].iloc[:, 4: ] # grap all the cases for the different regions of the UK
print('subtotals over time ', total)
total = total.apply(sum, axis=0) # sum over the rows
print('Total over time ', total)
# Total cases for the UK
print('Total confirmed cases to date is', total[-1])

subtotals over time       1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  1/27/20  1/28/20  1/29/20  \
264        0        0        0        0        0        0        0        0
265        0        0        0        0        0        0        0        0
266        0        0        0        0        0        0        0        0
267        0        0        0        0        0        0        0        0
268        0        0        0        0        0        0        0        0
269        0        0        0        0        0        0        0        0
270        0        0        0        0        0        0        0        0
271        0        0        0        0        0        0        0        0
272        0        0        0        0        0        0        0        0
273        0        0        0        0        0        0        0        0
274        0        0        0        0        0        0        0        0
275        0        0        0        0        0        0        0        0
276        0        0        0        0        0        0        0        0
277        0        0        0        0        0        0        0        0
278        0        0        0        0        0        0        0        0

     1/30/20  1/31/20  ...   2/28/23    3/1/23    3/2/23    3/3/23    3/4/23  \
264        0        0  ...      3904      3904      3904      3904      3904
265        0        0  ...     18799     18814     18814     18814     18814
266        0        0  ...      7305      7305      7305      7305      7305
267        0        0  ...     31472     31472     31472     31472     31472
268        0        0  ...         0         0         0         0         0
269        0        0  ...      1930      1930      1930      1930      1930
270        0        0  ...     20423     20423     20423     20433     20433
271        0        0  ...     34867     34929     34929     34929     34929
272        0        0  ...     38008     38008     38008     38008     38008
273        0        0  ...     66391     66391     66391     66391     66391
274        0        0  ...      1403      1403      1403      1403      1403
275        0        0  ...         4         4         4         4         4
276        0        0  ...      2166      2166      2166      2166      2166
277        0        0  ...      6551      6551      6551      6551      6551
278        0        2  ...  24370150  24370150  24396530  24396530  24396530

       3/5/23    3/6/23    3/7/23    3/8/23    3/9/23
264      3904      3904      3904      3904      3904
265     18814     18814     18814     18828     18828
266      7305      7305      7305      7305      7305
267     31472     31472     31472     31472     31472
268         0         0         0         0         0
269      1930      1930      1930      1930      1930
270     20433     20433     20433     20433     20433
271     34929     34929     34929     34991     34991
272     38008     38008     38008     38008     38008
273     66391     66391     66391     66391     66391
274      1403      1403      1403      1403      1403
275         4         4         4         4         4
276      2166      2166      2166      2166      2166
277      6551      6551      6557      6557      6561
278  24396530  24396530  24396530  24396530  24425309

[15 rows x 1143 columns]
Total over time  1/22/20           0
1/23/20           0
1/24/20           0
1/25/20           0
1/26/20           0
             ...
3/5/23     24629840
3/6/23     24629840
3/7/23     24629846
3/8/23     24629922
3/9/23     24658705
Length: 1143, dtype: int64
Total confirmed cases to date is 24658705

C:\Users\micha\AppData\Local\Temp\ipykernel_33324\690412499.py:8: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print('Total confirmed cases to date is', total[-1])

In [ ]:

# sorting
sorted_grouped_conf = grouped_conf.sort_values(by=grouped_conf.columns[-1], ascending=False)
sorted_grouped_conf.head(20)

In [ ]:

# Bar chart
last_col = confi.iloc[-1]
last_day = last_col.index[-1]
plt.figure(figsize=(12, 8))
plt.title('Top 10 countries with highest confirmed cases', fontsize=14)
plt.barh(sorted_grouped_conf[last_day].index[:10],        sorted_grouped_conf[last_day].head(10))
plt.xlabel('Total cases by '+last_day)
plt.grid()
plt.show()

In [ ]:
# Bar chart using Seaborn
last_col = confi.iloc[-1]
last_day = last_col.index[-1]
plt.figure(figsize=(12, 8))
plt.title('Top 10 countries with highest confirmed cases', fontsize=14)
sns.barplot(x=sorted_grouped_conf[last_day].head(10),            y=sorted_grouped_conf[last_day].index[:10], orient='h')
plt.xlabel('Total cases by '+last_day)
plt.grid()
plt.show()

In [ ]:

# Total confirmed cases for a given country
def get_total_confirmed_ofcountry(country):
    df_country = confi['Country/Region']==country
    total = confi[df_country].iloc[:, 4: ].apply(sum, axis=0)
    total.index = pd.to_datetime(total.index)
    return total

#polynomial model
def model(x, p1, p2, p3, p4):
    y = p1*np.power(x, 2)+p2*np.power(x,3)+p3*np.power(x,4)+p4*np.power(x,5)
    return y

# Fit the data with polynomial curve
def model_cases_ofcountry(country):
    df = get_total_confirmed_ofcountry(country)
    df = df.reset_index(drop = True)
    pars, cov = curve_fit(f=model, xdata=df.index, ydata=df, p0=[0, 0, 0, 0],                             bounds=(-np.inf, np.inf))
    
    # Standard deviations of the parameters; square roots of the diagonal of the cov matrix
    stdevs = np.sqrt(np.diag(cov))
    pred = model(df.index, *pars)
    plt.figure(figsize=(12, 8))
    plt.title(country.upper()+': Total confirmed cases reported', fontsize=14)
    g1, = plt.plot(df.index, df, 'o', lw=3, label = 'actual conf cases')
    g2, = plt.plot(df.index, pred, color='red', lw=4, label = 'predicted conf cases')
    plt.legend(handles=[g1, g2], loc='upper center')
    plt.grid()
    plt.show()
    return stdevs
country = 'United Kingdom'
model_cases_ofcountry(country)