# Lab 3 
Computing basic statistics with pandas

In [1]:
import numpy as np
from pandas import Series
s1 = Series([0.1, 1.2, 2.3, 3.4, 4.5])
a = np.array([0.1, 1.2, 2.3, 3.4, 4.5])
s2 = Series(a) # NumPy array to Series
s3 = Series([0.1, 1.2, 2.3, 3.4, 4.5], index = ['a','b','c','d','e'])
s3['a']
s3[0]
s3[['a','c']]
s3[s3>2]
s3.index
s3.values
s3.describe() #computes s3 statistics

C:\Users\micha\AppData\Local\Temp\ipykernel_31340\3507086101.py:8: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  s3[0]

count    5.000000
mean     2.300000
std      1.739253
min      0.100000
25%      1.200000
50%      2.300000
75%      3.400000
max      4.500000
dtype: float64

In [4]:
from pandas import DataFrame
a = np.array([[1.0,2],[3,4]])
df = DataFrame(a)
df1 = DataFrame(np.array([[1,2],[3,4]]),columns=['a','b'])
df1['a']
df1['a'][0]
df1.loc[0]
df1[['a', 'b']]
s1 = Series(np.arange(0.0,5))
s2 = Series(np.arange(1.0,2.0, 0.2))
df2 = DataFrame({'one': s1, 'two': s2})

In [5]:
df1

   a  b
0  1  2
1  3  4

In [6]:
df2.describe()

            one       two
count  5.000000  5.000000
mean   2.000000  1.400000
std    1.581139  0.316228
min    0.000000  1.000000
25%    1.000000  1.200000
50%    2.000000  1.400000
75%    3.000000  1.600000
max    4.000000  1.800000

In [7]:
np.random.seed(0)
np.random.rand(5)

array([0.5488135 , 0.71518937, 0.60276338, 0.54488318, 0.4236548 ])

### Q4

In [9]:
gen1 = np.random.RandomState()
gen2 = np.random.RandomState()
state1 = gen1.get_state()

In [10]:
gen2.set_state(state1)
gen2.rand()

0.7120059530120072

### Q 5  Utility functions

In [11]:
from scipy.stats import mode
def my_summary(a):
    '''
    Input - aan array a
    Output - a 5- element array representating stats
    '''
    mean = a.mean()
    std = a.std()
    med = np.median(a)
    mod = mode(a)[0][0]
    var = a.var()
    return np.array([mean, med, mod, var, std])
x = np.random.rand(100)
print(my_summary(x))

ModuleNotFoundError: No module named 'scipy'

### Q6

In [12]:
def mean_2d(a):
    '''
    Input - a 2D array
    Output - 2 arrays for the colums & rows means
    '''
    row_means = np.mean(a, axis=1)
    col_means = np.mean(a, axis=0)
    return (row_means, col_means)